@charset "utf-8";
/* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

img {
    border: none;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "020";
    height: 0px;
    display: block;
    overflow: hidden;
    clear: both;
}
a{color: #333333;}

a:hover {
   
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
	  text-decoration: none;
}
ul li,
ol li {
    list-style-type: none;
}

body {
    font-family: "microsoft Yahei";
    width: 100%;
   
}
/*自然资源*/
.zy{
	width:1200px;
	height:auto;
	margin-top:30px;
	}
.resource-all{
	width:1200px;
	height:auto;
	}
.resource{
	width:813px;
	height:151px;
	float:left;
	background:url(yc_pic_01.png) no-repeat center;

	}
.resource-title{
	width:30px;
	height:151px;
	float:left;
	margin-left:15px;
	}
.resource-title p{
	font-size:17px;
	color:#355e92;
	font-weight:bold;
	text-align:center;
	padding-top:30px;
	}
.resource-text{
	margin-right:25px;
	float:right;
	width:730px;
	margin-top:15px;
	}
.resource-text p{
	font-size:15px;
	color:#333333;
	line-height:30px;
	text-indent:2em;
	}
.resource-text p span a{
	color:#c10d0c;
	float:right;
	}
.zy1{
	width:54px;
	height:151px;
	float:left;
	margin-left:23px;
	background:url(yc_pic_02.png) no-repeat center;
	}
.zy2{
	width:54px;
	height:151px;
	float:right;
	margin-left:20px;
	background:url(yc_pic_02.png) no-repeat center;
	}
.zy-all{
	width:30px;
	height:151px;
	margin-left:10px;
		cursor:pointer;
	}
.zy-all p{
	font-size:17px;
	color:#355e92;
	font-weight:bold;
	text-align:center;
	padding-top:30px;
	}
/*盐城概览*/
.cover{
	width:1200px;
	height:137px;
	margin-top:40px;
	background:url(yc_pic_03.png) no-repeat center top;
	}
.cover img{
	width:1200px;
	height:137px;
	}
/*盐城概览图片*/
.picture{
	width:1200px;
	height:auto;
	margin-top:30px;
	}
.picture ul{
	width:1230px;
	margin-left:-30px;
	}
.picture ul li{
	width:175px;
	height:238px;
	float:left;
	position:relative;
	margin-left:30px;
	margin-bottom:30px;
	}


.picture ul li img{
	width:175px;
	height:238px;
	}	
.picture-top1-t{
	width:100%;
	height:60px;
	text-align:center;
	position:absolute;
	top:10px;
	
	}	
.picture-top1-t p{
	font-size:19px;
	color:#ffffff;
	font-weight:bold;
	line-height:60px;
	
	}	
.picture-top1-b{
	width:145px;
	height:158px;
	display:none;
	position: absolute;
    top: 60px;
    left: 15px;
	
	}
.picture-top1-b p{
	font-size:15px;
	color:#ffffff;
	line-height:25px;
	
	}
.picture-top1-b .more{
	font-size:15px;
	text-align:center;
	padding-top:10px;
	}
.picture-top1-b .more a{
	color:#ffffff;
	}
.tm{
	display:none;
	position: absolute;
    top: 0px;
	}
.qh:hover .picture-top1-b{
	display:block;
	}
.qh:hover .tm{
	display:block;
	}
/*opacity:0.3;  
filter:alpha(opacity=30);  
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); */ 
	
/*.picture-top{
	width:1200px;
	height:245px;
	}
.picture-all{
	width:175px;
	height:238px;
	float:left;
	cursor:pointer;
	}
.picture-top1{
	background:url(yc_pic_04.png) no-repeat center;
	}
.picture-top1-t{
	width:100%;
	height:60px;
	text-align:center;
	
	}
.picture-top1-t p{
	font-size:19px;
	color:#ffffff;
	font-weight:bold;
	line-height:60px;
	
	}
.picture-top1-b{
	width:145px;
	height:158px;
	margin:0 auto;
	margin-top:5px;
	display:none;
	
	}
.picture-top1-b p{
	font-size:15px;
	color:#ffffff;
	line-height:25px;
	
	}
.more{
	font-size:15px;
	text-align:center;
	padding-top:10px;
	}
.more a{
	color:#ffffff;
	}
/*隐藏消失*/
/*.tm{
	width:175px;
	height:238px;
	
	
	}
.qh:hover .picture-top1-b{
	display:block;
	}
.qh:hover .tm{
	background:url(yc_pic_29.png); 
/*opacity:0.3;  
filter:alpha(opacity=30);  
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); */ 
/*	}
.picture-top2{
	background:url(yc_pic_05.png) no-repeat center;
	margin-left:30px;
	}
.picture-top3{
	background:url(yc_pic_06.png) no-repeat center;
	margin-left:30px;
	}
.picture-top4{
	background:url(yc_pic_07.png) no-repeat center;
	margin-left:30px;
	}
.picture-top5{
	background:url(yc_pic_08.png) no-repeat center;
	margin-left:30px;
	}
.picture-top6{
	background:url(yc_pic_09.png) no-repeat center;
	width:175px;
	height:238px;
	float:right;
	cursor:pointer;
	}
.picture-bottom{
	width:1200px;
	height:245px;
	margin-top:20px;
	}
.picture-bottom1{
	background:url(yc_pic_10.png) no-repeat center;
	}
.picture-bottom2{
	background:url(yc_pic_11.png) no-repeat center;
	margin-left:30px;
	}
.picture-bottom3{
	background:url(yc_pic_12.png) no-repeat center;
	margin-left:30px;
	}
.picture-bottom4{
	background:url(yc_pic_13.png) no-repeat center;
	margin-left:30px;
	}
.picture-bottom5{
	background:url(yc_pic_14.png) no-repeat center;
	margin-left:30px;
	}
.picture-bottom6{
	background:url(yc_pic_15.png) no-repeat center;
	width:175px;
	height:238px;
	float:right;
	cursor:pointer;
	}
/*图说盐城*/
.talk{
	width:100%;
	height:auto;
	background:#f7f7f7;
	margin-top:40px;
	}
.high{
	width:100%;
	height:25px;
	}
/*图说盐城的头部*/
.talk .talk-bg{
	width:1200px;
	height:auto;
	margin:0 auto;
	}
.talk-title{
	width:1200px;
	height:auto;
	margin:0 auto;
	background:url(yc_pic_16.png) no-repeat top;
	
	}
.view{
	width:1200px;
	height:35px;
	margin-top:100px;
	float:left;
	
	}
.view span{
	font-size:19px;
	font-weight:bold;
	
	cursor:pointer;
	float:left;
	width:100px;
	height:35px;
	line-height:35px;
	text-align:center;
	}
.view span a{
	color:#333333;
	}
.view1{
	padding-left:10px;
	}
.view1{
	background:url(yc_pic_25.png) no-repeat left;
	}
.talk-title .view .nav-active a{color:#366fb8;}/*对li里的nav-active类进行颜色的设置*/

/*风景*/
.fj-box{
	width:1200px;
	height:auto;
	margin:0 auto;
	margin-top:20px;
	}
.fj-box ul{
	width:1230px;
	margin-left:-30px;
	}
.fj-box ul li{
	float:left;
	width:275px;
	height:174px;
	margin-left:32px;
	margin-bottom:30px;
	}
.fj-box ul li img{
	width:275px;
	height:174px;
	}	
	
/*.fj{
	width:1200px;
	height:auto;
	margin:0 auto;
	
	}
.fj-top{
	width:100%;
	height:174px;
	}
.fj-top1{
	float:left;
	width:275px;
	height:174px;
	}
.fj-top2{
	margin-left:33px;
	}
.fj-top3{
	float:right;
	}
.fj-top img{
	width:275px;
	height:174px;
	}
.fj-bottom{
	width:100%;
	height:174px;
	margin-top:30px;
	}
/*盐城年鉴*/
.nj{
	width:1200px;
	height:auto;
	margin:0 auto;
	margin-top:30px;
	}
.nj-l{
	float:left;
	width:568px;
	height:343px;
	background:url(yc_pic_26.png) no-repeat center;
	}
.video{
	width:109px;
	height:108px;
	position:relative;
	top:117.5px;
	left:229.5px;
	cursor:pointer;
	}
.video img{
	width:109px;
	height:108px;
	}
.video-text{
	width:100%;
	height:20px;
	margin-top:190px;
	}
.video-text p{
	font-size:19px;
	line-height:20px;
	color:#f7f7f7;
	text-align:center;
	}
.video-text p a{
	color:#f7f7f7;
	}
.nj-r{
	float:right;
	width:610px;
	}
.nj-r-t{
	width:610px;
	height:30px;
	}
.nj-r-t p{
	line-height:30px;
	}
.nj-r-t1{
	font-size:19px;
	color:#355e92;
	float:left;
	font-weight:bold;
	}
.nj-r-t2 a{
	font-size:15px;
	color:#999999;
	float:right;
	}
/*年鉴*/
.nj-r-b {
    width: 100%;
    height: auto;
	margin-top:20px;
}
.nj-r-b ul{
	width:615px;
	margin-left:-18px;
	}
.nj-r-b ul li{
	background:url(yc_pic_27.png) no-repeat;
	width: 105px;
    height: 81px;
	float: left;
	margin-left: 18px;
    margin-bottom: 20px;
	}

.nj-r-b ul li p{
	text-align: center;
    line-height: 81px;
	}
.nj-r-b ul li p a{
	 font-size: 24px;
    font-weight: bold;
    color: #333333;
	}
.nj-r-b ul li p:hover a{
	 color: #ee0000;
	}

.high-40{
	width:100%;
	height:40px;}

